dash==2.13.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.1
dash-player==1.1.0
dash-table==5.0.0
geopandas==0.13.2
gunicorn==21.2.0
numpy==1.25.2
openpyxl==3.1.2
pandas==2.1.0
plotly==5.16.1
pymongo==3.11.0
python-box==7.1.1
PyYAML==6.0.1
dnspython==2.4.2