:root {
	--atwhite: #f4f4f6;
	--plat: #e6e6e9;
	--tgray: #9999a1;
	--dgray: #66666e;
	--black1: #111111;
	--black2: #010101;
}

.navbar-brand .navbar-nav {
	font-family: "Roboto", sans-serif;
}

.navbar-brand {
  color: var(--black1) !important;
  background-color: green;
  font-size: 24px;
  font-weight: medium;
}

.navbar-nav {
  font-size: 20px;
  font-weight: thin;
}

.navbar-nav a:hover {
	transform: translateY(-3px);
}
