/* styles.css */

/* About page */
.about-logo {
  width: 350px;
  height: auto;
  margin-left: 200px;
}

.about-header-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.about-title {
  position: absolute;
  text-align: center;
  font-size: 120px;
  margin: auto;
  left: 0;
  right: 0;
  width: fit-content;
  color: azure;
  text-shadow: rgb(77, 32, 100) 2px 2px 0.005em, 0 0 0.5em rgb(29, 0, 29);
}

/* Header */
.mantine-Select-root{
  margin-left: 20px;
}

.mantine-Select-withIcon:focus{
  border-color: #8758FF;
}

.mantine-Select-item[data-hovered]{
  border: 40px;
  border-radius: 40px;
}

.mantine-Select-item[data-selected]{
  border: 40px;
  border-radius: 40px;
  background-color: #8758FF;
}

.mantine-Select-item[data-selected]:hover{
  background-color: #613DBD;
}  

.mantine-Select-item {
  font-size: 15px;
  font-weight: 560;
  color: rgb(120, 120, 120);
}

.mantine-Select-withIcon {
  font-size: 18px;
  font-weight: 560;
  color: rgb(120, 120, 120);
}

/* Sidebar */
.mantine-NavLink-root {
  /* Make the background round */
  border: 10px;
  border-radius: 10px;
  margin-bottom: 6px;
  color: rgb(120, 120, 120);
}

/* Compare page */
.compare-plot {
  border: 10px;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
  margin-top: 20px;
  width: 48%;
}